main {
    &.page-create-post {
        article {
            section {
                .header {
                }
                .wrapper {
                    .content {
                        .paragraph {
                            margin: 0 0 30px 0;
                        }
                        form {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            br {
                                display: none;
                            }
                            > p {
                                position: relative;
                                margin: 0 0 40px 0;
                                width: calc(50% - 40px);
                                &:last-of-type {
                                    width: 100%;
                                }
                                label {
                                    color: $color-dark-gray;
                                    font-size: 16px;
                                    display: flex;
                                    flex-wrap: wrap;
                                    width: 100%;
                                    font-weight: bold;
                                    .title {
                                        font-size: 14px;
                                        padding: 30px 0 30px 20px;
                                        margin: 0;
                                        width: 30%;
                                        border-top: 2px solid $color-dark-gray;
                                        font-weight: bold;
                                        &.required {
                                            &::before {
                                                content: '必須';
                                                font-size: 10px;
                                                color: red;
                                                border-radius: 4px;
                                                padding: 3px 6px;
                                                border: solid 1px red;
                                                margin: 0 10px 0 0;
                                            }
                                        }
                                        &.any {
                                            &::before {
                                                content: '任意';
                                                font-size: 10px;
                                                color: $color-main;
                                                border-radius: 4px;
                                                padding: 3px 6px;
                                                border: solid 1px $color-main;
                                                margin: 0 10px 0 0;
                                            }
                                        }
                                    }
                                    .wpcf7-form-control-wrap {
                                        width: 70%;
                                        border-top: 2px solid $color-light-gray;
                                        margin: 0;
                                        .wpcf7-form-control {
                                            font-size: 14px;
                                            padding: 30px 0 30px 20px;
                                            height: 100%;
                                            width: 100%;
                                            border: none;
                                            &:focus {
                                                outline: 0;
                                            }
                                        }
                                        textarea {
                                            font-size: 14px;
                                            padding: 10px;
                                            resize: vertical;
                                            border: solid 1px $color-gray;
                                            width: 100%;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                            .position {
                                display: flex;
                                justify-content: flex-end;
                                position: relative;
                                input[type="submit"],
                                input[type="button"] {
                                    display: block;
                                    cursor: pointer;
                                    padding: 20px;
                                    width: 300px;
                                    font-size: 12px;
                                    letter-spacing: 1.4px;
                                    text-align: center;
                                    border: 1px solid $color-input-gray;
                                    background: $color-input-gray;
                                    &:focus {
                                        outline: 0;
                                    }
                                }
                                input[type="button"] {
                                    margin: 0 20px 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    main {
        &.page-create-post {
            article {
                section {
                    .header {
                    }
                    .wrapper {
                        .content {
                            .paragraph {
                            }
                            form {
                                > p {
                                    label {
                                        &:not(.todo) {
                                            flex-direction: column;
                                        }
                                        &:last-of-type {
                                            .title {
                                                border-bottom: none;
                                            }
                                        }
                                        .title {
                                            width: 100%;
                                            padding: 25px 15px 10px;
                                        }
                                        .wpcf7-form-control-wrap {
                                            width: 100%;
                                            border-top: none;
                                            overflow: hidden;
                                            .wpcf7-form-control {
                                                font-size: 16px;
                                                padding: 10px 15px 25px;
                                                width: 125%;
                                                left: -12.5%;
                                                position: relative;
                                                transform: scale(0.8);
                                            }
                                        }
                                        .wpcf7-not-valid-tip {
                                            right: 15px;
                                            font-size: 12px;
                                            transform: translate(0, calc(-50% - 8px));
                                        }
                                    }
                                }
                                .position {
                                    width: 100%;
                                    input[type="submit"],
                                    input[type="button"] {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}