# 有効にするモジュールを設定
Options +FollowSymlinks
RewriteEngine on

# 特定のURLへのリダイレクト
RewriteRule ^cms/$ https://sumika.casa [R=301,L]
RewriteRule ^article/000040/$ https://sumika.casa/post/1638 [R=301,L]
RewriteRule ^article/000039/$ https://sumika.casa/post/1597 [R=301,L]
RewriteRule ^article/000038/$ https://sumika.casa/post/1566 [R=301,L]
RewriteRule ^article/000037/$ https://sumika.casa/post/1552 [R=301,L]
RewriteRule ^article/000036/$ https://sumika.casa/post/1530 [R=301,L]
RewriteRule ^article/000035/$ https://sumika.casa/post/1487 [R=301,L]
RewriteRule ^article/000034/$ https://sumika.casa/post/1391 [R=301,L]
RewriteRule ^article/000033/$ https://sumika.casa/post/1374 [R=301,L]
RewriteRule ^article/000032/$ https://sumika.casa/post/1299 [R=301,L]
RewriteRule ^article/000031/$ https://sumika.casa/post/1246 [R=301,L]
RewriteRule ^article/000030/$ https://sumika.casa/post/1238 [R=301,L]
RewriteRule ^article/000029/$ https://sumika.casa/post/1204 [R=301,L]
RewriteRule ^article/000028/$ https://sumika.casa/post/1154 [R=301,L]
RewriteRule ^article/000027/$ https://sumika.casa/post/1139 [R=301,L]
RewriteRule ^article/000026/$ https://sumika.casa/post/1123 [R=301,L]
RewriteRule ^article/000025/$ https://sumika.casa/post/1089 [R=301,L]
RewriteRule ^article/000024/$ https://sumika.casa/post/1028 [R=301,L]
RewriteRule ^article/000023/$ https://sumika.casa/post/994 [R=301,L]
RewriteRule ^article/000022/$ https://sumika.casa/post/961 [R=301,L]
RewriteRule ^article/000021/$ https://sumika.casa/post/949 [R=301,L]
RewriteRule ^article/000020/$ https://sumika.casa/post/927 [R=301,L]
RewriteRule ^article/000019/$ https://sumika.casa/post/876 [R=301,L]
RewriteRule ^article/000018/$ https://sumika.casa/post/849 [R=301,L]
RewriteRule ^article/000017/$ https://sumika.casa/post/793 [R=301,L]
RewriteRule ^article/000016/$ https://sumika.casa/post/725 [R=301,L]
RewriteRule ^article/000015/$ https://sumika.casa/post/541 [R=301,L]
RewriteRule ^article/000010/$ https://sumika.casa/post/201 [R=301,L]
RewriteRule ^article/000009/$ https://sumika.casa/post/131 [R=301,L]
RewriteRule ^article/000007/$ https://sumika.casa/post/86 [R=301,L]
RewriteRule ^article/000006/$ https://sumika.casa/post/82 [R=301,L]
RewriteRule ^article/000005/$ https://sumika.casa/post/78 [R=301,L]
RewriteRule ^article/000004/$ https://sumika.casa/post/66 [R=301,L]
RewriteRule ^article/000002/$ https://sumika.casa/post/44 [R=301,L]
RewriteRule ^article/000001/$ https://sumika.casa/post/27 [R=301,L]