.clamp_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clamp_2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.clamp_3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}