#tags {
    display: flex;
    span {
        font-size: 10px;
        flex-basis: 20%;
    }
    ul {
        flex-basis: 80%;
        li {
            display: inline-block;
            &:not(:last-of-type) {
                margin: 0 20px 0 0;
            }
            a {
                font-size: 10px;
                transition: all 0.2s ease-out;
                text-decoration: underline;
                &:hover {
                    color: $color-main;
                }
                &::before {
                    content: '#';
                }
            }
        }
    }
}