@use "sass:math";
@use "../../global/" as *;

.c-elementCard {
  width: per(160, 335);
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  position: relative;

  @include responsive(sm, min) {
    width: per(192, 1040);
  }

  @include responsive(md, min) {
    width: vw(192);
  }

  // .c-elementCard:not(:first-child)
  &:not(:first-child) {
    
    @include responsive(sm, max) {
      margin-left: per(15, 335);
    }

    // @include responsive(md, min) {
    //   margin-left: vw(20);
    // }
  }

  // .c-elementCard__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: color(white);
    border-radius: rem(10);
    aspect-ratio: 192 / 226;
    padding-top: rem(14);

    @include responsive(md, min) {
      padding-top: vw(14);
    }
  }

  &__detail {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: rem(12);
    padding-right: 16px;
    padding-left: 16px;

    @include responsive(sm, min) {
      padding-right: 17px;
      padding-left: 17px;
    }
    
    @include responsive(md, min) {
      padding-top: rem(12);
      padding-right: vw(17);
      padding-left: vw(17);
    }
  }

  &__like {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  // .c-elementCard__image
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: per(120, 192);
    margin-right: auto;
    margin-left: auto;
    
    // .c-elementCard__image img
    img {
      object-fit: contain;
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  // .c-elementCard__title
  &__title {
    @include Alokary;
    @include font(12, 24, 140);
    display: block;

    @include responsive(md, min) {
      @include vwfont(1280, 12);
    }
  }

  // .c-elementCard__price
  &__price {
    @include Wandeln;
    @include font(12, 18, 0);
    display: block;

    @include responsive(md, min) {
      @include vwfont(1280, 12);
    }
  }
}

.c-elementCardLike {
  $this: &;
  display: flex;
  align-items: center;
  padding: rem(15) 15px;

  @include responsive(md, min) {
    padding: vw(15);
  }

  @include hover {

    #{$this}__icon {
      color: color(darkgray);
    }

    #{$this}__text {
      color: color(darkgray);
    }
  }

  &.is-liked {

    #{$this}__icon {
      color: color(main);

      svg {
        
        path {
  
          &:nth-of-type(1) {
            display: none;
          }
        }
      }
    }

    #{$this}__text {
      color: color(main);
    }
  }

  // .p-topElementSliderCardLike__icon
  &__icon {
    display: flex;
    color: color(beige);
    transition: color 0.3s ease;
        
    svg {
      width: 11px;
      height: 11px;

      @include responsive(md, min) {
        width: vw(11);
        height: vw(11);
      }

      path {

        &:nth-of-type(1) {
          display: block;
        }
      }
    }
  }

  &__text {
    @include Optima;
    @include font(10, 12, -100);
    color: color(beige);
    margin-left: 3px;
    transition: color 0.3s ease;
    
    @include responsive(md, min) {
      @include vwfont(1280, 10);
      margin-left: vw(3);
    }
  }
}