@use "sass:math";
@use "../../global/" as *;

.p-archive {

  .l-main {
    background-color: color(bg);
    padding-top: rem(32);
    padding-bottom: rem(104);

    @include responsive(sm, min) {
      padding-top: rem(56);
      padding-bottom: rem(56);
    }

    @include responsive(md, min) {
      padding-top: vw(56);
      padding-bottom: vw(56);
    }
  }

  &__inner {
    @include inner(lg);
  }

  &__wrapper {
    
    @include responsive(md, min) {
      overflow: hidden;
      display: flex;
      column-gap: per(48, 1120);
    }
  }

  // .p-archive__aside
  &__aside {
    width: per(240, 1120);

    @include responsive(md, max) {
      position: fixed;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10001;
      background-color: rgba(0, 0, 0, 0.3);
      padding-top: rem(20);
      padding-right: 10px;
      padding-bottom: rem(20);
      padding-left: 10px;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

    @include responsive(md, min) {
      position: relative;
    }
  }

  &__article {
    
    @include responsive(md, min) {
      width: per(832, 1120);
    }
  }

  &__order {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .c-sort {

      &__title {

        @include responsive(sm, max) {
          display: none;
        }
      }

      &__type {
        
        @include responsive(md, max) {
          margin-top: 0;
        }
      }
    }

    .c-sortType {

      @include responsive(md, max) {
        width: 100%;
      }
    }

    .c-sortTypeSelector {
      
      // .c-sortTypeSelector select
      select {
        
        @include responsive(md, max) {
          width: 160px;
        }

        @include responsive(sm, max) {
          width: 140px;
        }
      }
    }
  }

  &__sort {
    position: fixed;
    // opacity: 0;
    // visibility: hidden;
    width: calc(100% - 40px);
    bottom: rem(60);
    z-index: 100;

    @include responsive(sm, min) {
      bottom: rem(30);
      width: calc(100% - 100px);
    }

    @include responsive(md, min) {
      display: none;
    }
  }
}

.p-archiveOrder {

  &__like {

    @include responsive(sm, max) {
    }
  }
}

.p-archiveOrderLike {
  display: flex;
  column-gap: 9px;

  @include responsive(md, min) {
    column-gap: vw(9);
  }

  &:not(:first-of-type) {
    margin-top: rem(12);

    @include responsive(md, min) {
      margin-top: vw(12);
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    background-color: color(beige);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-top: rem(1);

    @include responsive(md, min) {
      width: vw(20);
      height: vw(20);
      border-radius: vw(4);
      margin-top: vw(1);
    }

    &:checked {
      background-image: url(/assets/images/common/ico_check.svg);
      background-color: color(main);
      background-size: 13px;
      background-position: center;
      background-repeat: no-repeat;

      @include responsive(md, min) {
        background-size: vw(13);
      }
    }
  }

  label {
    @include font(15, 22.5, 0);
    width: calc(100% - 20px - 9px);
  
    @include responsive(md, min) {
      @include vwfont(1280, 16);
      width: calc(100% - vw(20) - vw(9));
    }
  }
}

.p-archiveAside {
  
  @include responsive(md, max) {
    background-color: color(white);
    border-radius: rem(6);
    padding-bottom: rem(20);
    height: 100%;
    width: 100%;
  }

  &__heading {
    height: rem(70);
    display: flex;
    align-items: center;
    position: relative;

    @include responsive(md, max) {
      justify-content: center;
      border-bottom: 1px solid color(lightgray);
    }
    
    @include responsive(md, min) {
      background-color: color(smoke);
      border-radius: vw(6);
      height: vw(60);
      padding-left: vw(20);
      padding-right: vw(20);
    }
  }

  &__close {
    width: 29px;
    height: 29px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: color(main);
    cursor: pointer;

    @include responsive(md, min) {
      display: none;
    }

    svg {
      display: block;
      width: 15px;
      height: 15px;
    }
  }
  
  &__title {
    
    p {
      @include font(18, 27, 0, 700);
    
      @include responsive(md, min) {
        @include vwfont(1280, 18, 27, 0, 700);
      }
    }
  }

  &__clear {
    color: color(main);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;

    @include responsive(md, min) {
      display: none;
    }

    p {
      @include font(14, 18, 0, 700);
    }
  }

  &__menu {

    @include responsive(md, max) {
      margin-top: rem(4);
      height: calc(100% - rem(70) - rem(54) - rem(20));
      padding-right: 20px;
      padding-left: 20px;
      overflow-y: scroll;
      white-space: nowrap;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    
    @include responsive(md, min) {
      margin-top: vw(4);
      padding-right: vw(20);
      padding-left: vw(20);
    }

    &::-webkit-scrollbar {

      @include responsive(md, max) {
        display: none;
      }
    }
  }

  &__button {

    @include responsive(md, max) {
      margin-top: rem(20);
      padding-right: 20px;
      padding-left: 20px;
    }

    @include responsive(md, min) {
      display: none;
    }
  }
}

.p-archiveAsideMenu {
  $this: &;
  border-bottom: 1px solid color(lightgray);

  @include responsive(md, min) {
    border-bottom: vw(1) solid color(lightgray);  
  }

  &.is-accordion {

    #{$this}__heading {
      cursor: pointer;
    }

    // .p-archiveAsideMenu__body
    #{$this}__body {
      // height: 0;
      // overflow: hidden;
    }

    #{$this}__icon {
      display: block;
    }
  }

  // .p-archiveAsideMenu__heading
  &__heading {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: rem(16);
    padding-bottom: rem(16);

    @include responsive(md, min) {
      padding-top: vw(16);
      padding-bottom: vw(16);
    }

  }
  
  &__title {
    
    p {
      @include font(16, 24, 0, 700);
    
      @include responsive(md, min) {
        @include vwfont(1280, 16);
      }
    }
  }

  // .p-archiveAsideMenu__icon
  &__icon {
    display: none;
    position: absolute;
    right: 4px;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      background-color: color(main);

      &:nth-of-type(1) {
        transform: translate(-50%, -50%);
        height: 1px;
        border-radius: 0.5px;
      }

      &:nth-of-type(2) {
        height: 2px;
        border-radius: 1px;
        transform: translate(-50%, -50%); // rotate(-90deg)
      }
    }
  }

  // .p-archiveAsideMenu__item
  &__item {
    margin-top: rem(10);
    margin-bottom: rem(20);
    
    @include responsive(md, min) {
      margin-top: vw(10);
      margin-bottom: vw(20);
    }

    &.--button {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: rem(9);

      @include responsive(md, min) {
        column-gap: vw(8);
        row-gap: vw(9);
      }

      #{$this}Item {

        input[type="checkbox"] {
          display: none;

          &:checked {

            & + label {
              background-color: color(beige);
            }
          }
        }
      
        label {
          @include font(14, 21, 0);
          display: inline-block;
          border: 1px solid color(beige);
          padding-top: rem(3);
          padding-right: 12px;
          padding-bottom: rem(3);
          padding-left: 12px;
          border-radius: rem(17);

          @include responsive(md, min) {
            @include vwfont(1280, 15);
            border-width: vw(1);
            padding-top: vw(3);
            padding-right: vw(12);
            padding-bottom: vw(3);
            padding-left: vw(12);
            border-radius: vw(17);
          }
        }
      }
    }

    &.--checkbox {

      #{$this}Item {
        display: flex;
        column-gap: 9px;
        width: 100%;
    
        @include responsive(md, min) {
          column-gap: vw(9);
        }
    
        &:not(:first-of-type) {
          margin-top: rem(12);
    
          @include responsive(md, min) {
            margin-top: vw(12);
          }
        }
    
        input[type="checkbox"] {
          cursor: pointer;
          background-color: color(beige);
          width: 20px;
          height: 20px;
          border-radius: 4px;
          margin-top: rem(1);
      
          @include responsive(md, min) {
            width: vw(20);
            height: vw(20);
            border-radius: vw(4);
            margin-top: vw(1);
          }
      
          &:checked {
            background-image: url(/assets/images/common/ico_check.svg);
            background-color: color(main);
            background-size: 13px;
            background-position: center;
            background-repeat: no-repeat;
      
            @include responsive(md, min) {
              background-size: vw(13);
            }
          }
        }
      
        label {
          @include font(14, 21, 0);
          width: calc(100% - 20px - 9px);
        
          @include responsive(md, min) {
            @include vwfont(1280, 14);
            width: calc(100% - vw(20) - vw(9));
          }
        }
      }
    }
  }

  // .p-archiveAsideMenu__input
  &__input { // ブランド検索フォーム
    
    // .p-archiveAsideMenu__input input
    input {
      @include font(16, 24, 0);
      border-radius: 4px;
      border: 2px solid color(smoke);
      color: color(grayish);
      width: 100%;
      padding: 10px 16px;
      margin-bottom: 14px;
          
      @include responsive(md, min) {
        @include vwfont(1280, 14);
        border-width: vw(2);
        border-radius: vw(4);
        padding: vw(10) vw(16);
        margin-bottom: vw(14);
      }

      &:focus {
        outline-color: color(beige);
        -webkit-tap-highlight-color: transparent;
      }
    }
  }

  &__reset {

    p {
      @include font(12, 18, 0);
      cursor: pointer;
      color: color(grayish);
      display: inline-block;
      transition: color 0.3s ease;

      @include responsive(md, min) {
        @include vwfont(1280, 12);
      }

      @include hover {
        color: color(darkgray);
      }
    }
  }

  &__brand {
    max-height: 200px;
    overflow: scroll;
    margin-top: rem(5);
    padding-top: rem(5);
    margin-bottom: rem(20);
    margin-left: -8px;
    width: calc(100% + 16px);

    @include responsive(md, min) {
      max-height: vh(200);
      margin-top: vw(5);
      padding-top: vw(5);
      margin-bottom: vw(20);
      width: calc(100% + vw(16));
      margin-left: vw(-8);
    }
  }

  &__price {

  }

  &__category {
    column-gap: 8px;
    row-gap: rem(9);
    margin-top: rem(10);
    margin-bottom: rem(20);
    
    @include responsive(md, min) {
      column-gap: vw(8);
      row-gap: vw(9);
      margin-top: vw(10);
      margin-bottom: vw(20);
    }
  }
}

.p-archiveAsideMenuCategory {
  margin-top: rem(9);
  border: 2px solid color(smoke);
  border-radius: rem(4);
  overflow: hidden;

  @include responsive(md, min) {
    margin-top: vw(9);
    border-radius: vw(4);
  }

  
  &__parent {
    
  }

  &__child {
    
  }

  input[type="checkbox"] {
    display: none;

    &:checked {

      & + label {
        background-color: color(smoke);
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    padding-top: rem(7);
    padding-right: 14px;
    padding-bottom: rem(7);
    padding-left: 14px;
    column-gap: 12px;
    position: relative;

    @include responsive(sm, min) {
      padding-right: 16px;
      padding-left: 16px;
      column-gap: 10px;
    }

    @include responsive(md, min) {
      border-width: vw(1);
      padding-top: vw(7);
      padding-right: vw(16);
      padding-bottom: vw(7);
      padding-left: vw(16);
      column-gap: vw(10);
    }
  }

  &__image {
    width: 24px;
    height: 24px;

    @include responsive(md, min) {
      width: vw(24);
      height: vw(24);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {

    p {
      color: color(grayish);
      @include font(14, 21, 0);

      @include responsive(md, min) {
        @include vwfont(1280, 14);
      }
    }
  }
}

.p-archiveAsideMenuBrand {
  
  &:first-of-type {

    label {
      margin-top: rem(-5);
  
      @include responsive(md, min) {
        margin-top: vw(-5);
      }
    }
  }

  label {
    display: flex;
    width: 100%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;

    @include responsive(md, min) {
      padding-top: vw(5);
      padding-bottom: vw(7);
      padding-left: vw(8);
      padding-right: vw(8);
    }

    @include hover {
      
      &::before {
        background-color: color(smoke);
      }
    }

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;

      @include responsive(md, min) {
        border-radius: vw(4);
      }
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    background-color: color(beige);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-top: rem(3);
    position: relative;
    z-index: 1;

    @include responsive(md, min) {
      width: vw(20);
      height: vw(20);
      border-radius: vw(4);
      margin-top: vw(3);
    }

    &:checked {
      background-image: url(/assets/images/common/ico_check.svg);
      background-color: color(main);
      background-size: 13px;
      background-position: center;
      background-repeat: no-repeat;

      @include responsive(md, min) {
        background-size: vw(13);
      }
    }
  }
  
  &__heading {
    width: calc(100% - 20px);
    padding-left: 9px;
    position: relative;
    z-index: 1;
  
    @include responsive(md, min) {
      width: calc(100% - vw(20));
    }

    span {
      display: block;
      @include font(14, 21, 0);
  
      @include responsive(md, min) {
        @include vwfont(1280, 14);
      }
  
      &:nth-of-type(1) {
        @include font(14, 21, 0);
  
        @include responsive(md, min) {
          @include vwfont(1280, 14);
        }
      }
  
      &:nth-of-type(2) {
        @include font(10, 12.5, 0);
        color: color(darkgray);
  
        @include responsive(md, min) {
          @include vwfont(1280, 10);
        }
      }
    }
  }
}

.p-archiveAsideMenuPrice {

  // .p-archiveAsideMenuPrice__slider
  &__slider {
    margin-bottom: rem(10);
    
    @include responsive(md, min) {
      margin-bottom: vw(10);
    }

    .vue-slider-process {
      background-color: color(main);
    }

    .vue-slider-rail {
      background-color: color(beige);
    }

    .vue-slider-dot-handle {
      box-shadow: none;
      border: solid 2px color(beige);
    }
  }

  // .p-archiveAsideMenuPrice__range
  &__range {
    display: flex;
    align-items: center;
    margin-top: rem(10);
    margin-bottom: rem(20);
    
    @include responsive(md, min) {
      margin-top: vw(10);
      margin-bottom: vw(20);
    }

    // .p-archiveAsideMenuPrice__range input
    input {
      @include font(16, 21, 0);
      border-radius: 4px;
      border: 2px solid color(smoke);
      padding: 10px 12px;
      text-align: right;
      width: calc(per(50, 100) - 24px / 2);
      color: color(grayish);

      @include responsive(sm, min) {
        width: calc(per(50, 100) - 30px / 2);
      }
          
      @include responsive(md, min) {
        @include vwfont(1280, 14);
        border-width: vw(2);
        border-radius: vw(4);
        padding: vw(10) vw(12);
        width: calc(per(50, 100) - vw(20) / 2);
      }

      &:focus {
        outline-color: color(beige);
        -webkit-tap-highlight-color: transparent;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    span {
      display: block;
      @include font(14, 21, 0);
      text-align: center;
      width: 24px;

      @include responsive(sm, min) {
        width: 30px;
      }
          
      @include responsive(md, min) {
        width: vw(20);
        @include vwfont(1280, 14);
      }
    }
  }
}

.p-archiveAsideButton {
  width: 100%;
  background-color: color(main);
  color: color(white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(54);
  border-radius: rem(6);
  cursor: pointer;

  p {
    @include font(16, 24, 40, 700);
  }
}

.p-archiveSort {
  width: 100%;
  background-color: color(main);
  color: color(white);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: rem(54);
  border-radius: rem(6);
  cursor: pointer;

  &__icon {

    svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    @include font(16, 24, 0, 700);
  }
}