.c-fade {
    &--up {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        transition:
            opacity 1s cubic-bezier(.30, 1, .40, 1),
            visibility 1s cubic-bezier(.30, 1, .40, 1),
            transform 1s cubic-bezier(.30, 1, .40, 1);
    }
}
.c-faded {
    &--up {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}