.thumbnail {
    figure {
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-white;
            z-index: 1;
            transition: opacity 0.5s ease;
        }
        &:hover {
            &::before {
                opacity: 0.5;
            }
            img {
                transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            }
        }
        img {
            backface-visibility: hidden;
            transition: transform 10s linear;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
    }
}