@mixin Wandeln {
  font-family: 'Wandeln', sans-serif;
}

@mixin Alokary {
  font-family: 'Alokary', serif;
}

@mixin Optima {
  font-family: 'Optima', serif;
}

@mixin YuMincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
