<?php get_header(); ?>
    article.inner
        .header
            h1.title <?php the_title(); ?>
        section
            .title
                h3 はじめに
            p この利用規約（以下「本規約」と言います。）は、SUMIKA編集部（以下「編集部」といいます）が本サイト上で提供するサービス「Sumika」（以下「本サイト」と言います。）と、その上で提供される全てのサービス（以下「本サービス」と言います）を、ユーザーが利用する場合の一切の行為に適用されます。 本規約は、本サイト及び本サービスの利用条件を定めるものです。ユーザーは、本規約に同意の上、本規約に従い利用するものとします。
            p ユーザーは、本サイト及び本サービスを利用することにより、本規約の全ての記載内容について同意したものとみなします。
        section
            .title
                h3 定義
            p 本規約において使用する用語の意義は、次の各号に定めるとおりとします。
            ul
                li 「本サイト」とは、編集部が運営する「Sumika」と称するウェブサイト（https://sumika.casa）をいいます。
                li 「本サービス」とは、本サイト上で提供される全てのサービスをいいます。
                li 「ユーザー」とは、本サイトを利用し、コンテンツを閲覧したり会員登録をしているユーザーのことをいいます。
                li 「パスワード」とは、本サービスを利用するに当たって、登録メールアドレスと照合して本人を識別するための文字列をいいます。
                li 「画像等の情報」とは、画像、テキスト等本サービスを利用して閲覧・投稿できる情報をいいます。
                li 「投稿」とは、ユーザーが本サイトに画像やテキスト等の情報をアップロードする行為をいいます。
        section
            .title
                h3 本規約の範囲
            p 本サイトには、本規約及びその他の利用規約等において、本サービスの利用条件が規定されています。その他の利用条件等は名称の如何に関わらず本規約の一部を構成するものとします。
            p 本規約の規定とその他の利用条件等の規定に齟齬が生じる場合は、当該その他の利用条件等が優先して適用されるものとします。
        section
            .title
                h3 本規約の変更
            p 本規約は、編集部の判断により、いつでも任意に変更することができるものとします。
            p 変更後の利用規約は、編集部が別途定める場合を除き、本サイト上に表示した時点より効力を生じるものとします。
            p 本規約の変更の効力が生じた後にユーザーが本サービスを利用した場合には、変更後の利用規約の全てにつき、同意したものとみなします。
        section
            .title
                h3 個人情報の取扱い
            p 編集部は、個人情報を「プライバシーポリシー」に基づき、適切に取り扱うものとします。
        section
            .title
                h3 通信の秘密
            p 編集部は、電気通信事業法（昭和59年法律第86号）第4条に基づき、ユーザーの通信の秘密を守ります。
            p 編集部は、次の各号に掲げる場合には、当該各号に定める範囲内において前項の守秘義務を負わないものとします。
            ul
                li 刑事訴訟法（昭和23年法律第131号）又は犯罪捜査のための通信傍受に関する法律（平成11年法律第137号）の定めに基づく強制の処分又は裁判所の命令が行われた場合は、当該処分又は裁判所の命令の定める範囲内
                li 法令に基づく強制的な処分が行われた場合は、当該処分又は命令の定める範囲内
                li 特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律（平成13年法律第137号）第4条に基づく開示請求の要件が充足されたと編集部が判断した場合は、当該開示請求の範囲内
                li 他人の生命、身体又は財産の保護のために必要があると編集部が判断した場合は、他人の生命、身体又は財産の保護のために必要な範囲内
        section
            .title
                h3 入会、及び入会申込に対する不承諾
            p 本サービスの利用を希望する者は、本規約の内容に同意した上で、編集部所定の方法により、入会の申込を行うものとします。
            p 入会の申込をした者（以下「入会申込者」といいます。）は、編集部が入会の申込を承諾した時点でユーザーになります。
            p 編集部が次のいずれかに該当する場合は、編集部の任意の判断により、理由を開示することなく入会申込者の入会申込を承諾しないことができます。
            ul
                li 入会申込者が、前条第2項の方法によらずに入会の申込を行った場合
                li 入会申込者が、過去に本規約又はその他の利用規約等に違反したことを理由として強制退会処分を受けた者である場合
                li その他編集部が不適切と判断した場合
        section
            .title
                h3 退会
            p ユーザーが退会を希望する場合には、ユーザーは、編集部所定の方法により、編集部に退会の申出を行うものとします。
            p 編集部は、ユーザーが次の各号に掲げるいずれかの行為を行った場合には、編集部の任意の判断によって、ユーザーを強制的に退会させて本サービスの利用をお断りすることができます。
            ul
                li 第７条第２項の方法によらずに入会の申込を行ったことが明らかとなった場合
                li 本規約又はその他の利用条件等に違反した場合
                li その他編集部が不適切と判断した場合
        section
            .title
                h3 ID及びパスワードの管理等
            p ユーザーは、自分の管理に属する使用可能なメールアドレスを登録メールアドレスとして登録するものとし、当該登録メールアドレスが自己の管理に属さなくなった場合には、自己の管理に属する使用可能な別のメールアドレスに変更しなければならないものとします。
            p 登録メールアドレス、パスワード及びIDが第三者に利用されたことによって生じた損害等につきましては、編集部はいかなる責任も負いません。
        section
            .title
                h3 アカウントの保有
            p ユーザーはいかなる場合においても、アカウントを第三者に譲渡又は貸与することはできません。
        section
            .title
                h3 利用環境の整備
            p 本サービスを利用するために必要なあらゆるハード・ソフトウェア等の整備は、ユーザーの負担と責任において行うものとします。
            p ユーザーは自己の利用環境に応じて、コンピューター・ウィルスの感染の防止、不正アクセス及び情報漏洩の防止等の対策を講じるものとします。
            p 編集部はユーザーの利用環境について一切関与せず、また一切の責任を負いません。
        section
            .title
                h3 ユーザーの責任
            p ユーザーは、自己の責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為及びその結果について一切の責任を負います。
            p 本サービスを利用してユーザーが投稿した画像等の情報に関する責任は、全てユーザーに帰属します。編集部はユーザーが本サービスを利用して投稿した画像等の情報の内容について、一切責任を負いません。 ユーザーが他人の名誉を毀損した場合、プライバシー権を侵害した場合、許諾なく第三者の個人情報を開示した場合、著作権法に違反する行為を行った場合そのほか他人の権利を侵害した場合には、当該ユーザーは自身の責任と費用においてこれを解決しなければならず、編集部は一切の責任を負いません。
        section
            .title
                h3 禁止行為
            p ユーザーは、本サービスの利用にあたり、以下の各号に該当する事項を行ってはならないものとします。禁止行為に違反した場合には、強制退会、利用停止、画像等のデータの全部もしくは一部の削除、又は公開範囲の変更等の不利益な措置を採ることがあります。
            ul
                li 編集部もしくは第三者の著作権、意匠権等の知的財産権を侵害する行為、又は侵害する恐れのある行為。
                li 本サイトにアップロードされている画像等の情報を、当該著作者（創作者）の同意なくして転載する行為。
                li 編集部もしくは第三者の財産、プライバシーもしくは肖像権を侵害する行為、又は侵害する恐れのある行為。
                li 編集部もしくは第三者を不当に差別もしくは誹謗中傷し、第三者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為。
                li 詐称行為。
                li 詐欺その他の犯罪に結びつく、又は結びつく恐れのある行為。
                li 法律・条例・その他編集部が定める基準に反するような、わいせつ、児童ポルノ又は児童虐待に相当する画像等のデータ（以下｢これらのデータ｣といいます。）について、次に掲げるいずれかの行為を行うこと。
                li これらのデータを投稿又は表示する行為。
                li これらのデータを収録した媒体を販売する行為。
                li これらのデータを収録した媒体の送信、表示、販売を想起させる広告を投稿又は表示する行為。
                li 自殺・自傷行為・薬物乱用などを美化・誘発・助長する恐れのある行為。
                li 次に掲げる内容の画像等のデータを投稿する行為。
                li アップされている画像等を誹謗中傷する内容の情報。
                li 投稿者の氏名、住所、勤務先、電話番号等個人を特定しうる内容の情報（アップされた画像等に関する情報と照らし合わせることで個人を特定しうる場合を含む）。
                li 真否についての事実確認が困難な内容や虚偽の内容の情報。 その他編集部が不適切と判断する内容の情報。
                li 運営者に成りすます行為。
                li 複数のIDを取得する行為。但し、第10条において特に認めた場合を除く。
                li 商業用の広告、宣伝又は勧誘を目的とする画像等の情報（編集部が特に認めたものを除く。）、アフィリエイトのリンクを含む画像等の情報、無限連鎖講（ネズミ講）・チェーンメール・MLM・リードメール等他人を勧誘する内容の画像等の情報、アダルトサイト・ワンクリック詐欺サイト・ウィルス等の有害なコンピュータプログラム等を流布させることを目的とするサイト等編集部が不適切と判断するサイトに誘導する画像等の情報（単にリンクを張る行為を含む。）、その他編集部が不適切と判断する画像等の投稿する行為。
                li 人種・民族・性別・年齢・思想などによる差別に繋がる表現を使用する行為。
                li 通常の範囲を超えて本サービスのサーバーに負担をかける行為、もしくは、本サービスの運営やネットワーク・システムに支障を与える行為、又はこれらの恐れのある行為。
                li 編集部の設備に蓄積された情報を不正に書き換え、又は消去する行為。
                li ウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為。
                li 法令、公序良俗又は本規約もしくはその他の利用条件等に違反し、又は他者の権利を侵害すると編集部が判断する行為。
                li その他、編集部が不適切と判断する行為。
        section
            .title
                h3 サービスの変更等
            p 編集部は、事前の予告なくして、本サービスをいつでも任意の理由で追加、変更、中断、終了することができます。
        section
            .title
                h3 利用料金
            p 登録及び本サービスは無料とします。
        section
            .title
                h3 画像等の情報に関する権利
            p 本サービスを利用して画像等の情報を投稿するユーザーは、編集部に対し、当該画像等の情報が第三者の権利を侵害するものでないこと保証するものとします。万一、ユーザーが投稿した画像等が第三者の権利を侵害するなど第三者との間で何らかの紛争が発生した場合には、当該ユーザーの費用と責任において問題を解決するとともに、編集部に何等の損害を与えないものとします。
        section
            .title
                h3 画像等の情報の使用許諾等
            p 本サービスを利用して投稿された画像等の情報の著作権その他一切の権利は、当該画像等を創作したユーザーに帰属します。
            p 編集部が前項に定める形で画像等の情報を使用するにあたっては、情報の一部又は氏名表示を省略することができるものとします。
        section
            .title
                h3 免責事項
            p 編集部は、ユーザー間の通信等に関与しません。万一ユーザー間の紛争があった場合でも、当該ユーザー間で解決するものとし、編集部はその責任を一切負いません。
            p 編集部は、編集部が必要と判断した場合は、ユーザーに通知することなくいつでも本サービスを変更、停止、又は中止することができます。この場合、編集部は、本サービスの変更等により生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。
            p 編集部は、ユーザーによって投稿される画像等の情報を管理・保存する義務を負いません。
            p 編集部は、ユーザーによって投稿される画像等の情報について、適法性、正確性等に関し一切の責任を負いません。ユーザーによって投稿される画像等の情報が、当該ユーザーが所属する法人・団体等の内部規則等に関する適否についても、一切の責任を負いません。
            p 編集部は、以下に掲げる場合には、当該画像等の情報の内容を閲覧したり、保存したり、第三者に開示すること（以下、本項において「閲覧等」と言います。）ができるものとします。編集部は、それによってユーザーに生じたいかなる損害についても、一切責任を負いません。
            ul
                li 編集部が画像等の情報を投稿したユーザーの登録メールアドレスに宛てて閲覧等の同意を求める電子メールを送信した場合であって、次の各号に掲げるいずれかに該当するとき。
                li ユーザーが閲覧等に同意したとき。
                li 編集部が閲覧等の同意を求める電子メールを送信してから7日以内に、当該ユーザーの電子メールでの回答が編集部のメールサーバに到達しなかったとき。ただし、緊急止むを得ない事由が生じたときは除く。
                li 本サービスの技術的不具合の原因を解明し、解消するため必要な場合。
                li 裁判所、警察等の公的機関から、法令に基づく正式な照会を受けた場合。
                li 本規約、その他の利用条件等に違反する行為又はその恐れのある行為が行われ、画像等の情報の内容を確認する必要が生じたと編集部が判断した場合。
                li 人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると編集部が判断した場合。
                li その他本サイトを適切に運営するために必要が生じた場合。
            p 編集部は、本規約又はその他の利用条件等に違反する行為又はその恐れのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行ったユーザーの強制退会処分、画像等の情報の全部もしくは一部の削除、及び公開範囲の変更等を行う場合がありますが、それによって生じたいかなる損害についても、一切責任を負いません。
        section
            .title
                h3 削除権限
            p 編集部は、次に掲げる場合には、画像等の情報の違法性・規約違反の有無に関わらず、関連する画像等の情報について、その全部もしくは一部の削除又は公開範囲の変更等の措置を行うことができるものとします。
            p 猥褻性があると編集部が判断した画像等の情報が投稿された場合。
            p 公的な機関又は専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットライン、弁護士等を言います。）から、画像等の情報について、違法、公序良俗違反又は他人の権利を侵害する等の指摘・意見表明があった場合。 画像等の情報について、第三者から権利主張があった場合。
        section
            .title
                h3 本規約及びその他の利用規約等の有効性
            p 本規約及びその他の利用条件等の規定の一部が法令に基づいて無効と判断されても、本規約及びその他の利用条件等のその他の規定は有効とします。
            p 利用規約等の規定の一部があるユーザーとの関係で無効とされ、又は取り消された場合でも、利用規約等はその他のユーザーとの関係では有効とします。
        section
            .title
                h3 違反行為等への処置
            p ユーザーが本規約又はその他の利用条件等に違反したと認められる場合、その他編集部が必要と認める場合は、編集部は当該ユーザーに対し以下の処置を講ずることがあります。
            ul
                li 画像等の情報の削除・訂正を求めること。
                li 画像等の情報の全部もしくは一部を削除し、公開範囲を変更し、又は閲覧できない状態にすること。
                li 強制退会処分とすること。
                li 入会申込を承諾しないこと。
            p ユーザーは、前項の編集部の処置について異議を述べないこととします。
        section
            .title
                h3 準拠法及び管轄裁判所
            p 本規約の準拠法は、日本法とします。
            p ユーザーと編集部の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
        section
            .title
                h3 附則
            p 本規約は、2019年10月14日から施行します。
            p 本規約の施行前にユーザーによって行われた行為についても本規約が適用されます。
<?php get_footer(); ?>