<?php get_header(); ?>
    .inner
        article#article
            article#column
                .header
                    .title
                        h1 <?php single_term_title(); ?>一覧
                    .sub-title
                        span category - <?php echo $term ?>
                .wrapper
                    <?php while (have_posts()) : the_post(); ?>
                        section
                            .content
                                a.image(href!="<?php the_permalink(); ?>")
                                    picture
                                        | <?php
                                        |     if (has_post_thumbnail()) {
                                        |         the_post_thumbnail('medium', array('class' => 'cover'));
                                        |     } else {
                                        |         echo '<img class="cover" src="' . get_bloginfo('template_url') . '/images/common/common_eyecatch.jpg' . '" alt="thumbnail" />';
                                        |     }
                                        | ?>
                                .paragraph
                                    .date
                                        time <?php echo get_post_time('Y.m.d D H:i') ?>
                                    a.title(href!="<?php the_permalink(); ?>")
                                        h2.clamp_3 <?php the_title(); ?>
                    <?php endwhile; ?>
                section.pagenation
                    .inner
                        .page_feed
                            | <?php 
                            |     the_posts_pagination(array( 
                            |         'mid_size' => 1,
                            |         'prev_text' => '<',
                            |         'next_text' => '>',
                            |         'screen_reader_text'=>' ',
                            |     ) ); 
                            | ?>
            aside#aside
<?php get_footer(); ?>