@use "sass:math";
@use "../../../global/" as *;

.p-newsIndexItemText {

  a {
    text-decoration: underline;
    text-underline-offset: rem(4);
    text-decoration-color: color(lightgray);

    @include responsive(md, min) {
      text-underline-offset: vw(4);
    }
  }

  p {
    @include font(14, 22, 40);

    @include responsive(md, min) {
      @include vwfont(1280, 14);
    }

    &:not(:first-child) {
      margin-top: rem(16);
    }
  }
}